<a href="https://colab.research.google.com/github/ChaseGIT515/pytorch/blob/main/17_warm_up_student.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DS 1002: Programming for Data Science

## Iterators & Iterables Lab

In [1]:
# Dictionary for #1
capitals = {"USA" : "Washington D.C.", "France" : "Paris", "India" : "New Delhi", "China" : "Beijing", "Egypt" : "Cairo", "Germany" : "Berlin"}

**Exercise #1**  

Using the `capitals` dictionary, write a `for` loop that prints off each key value pair.  

Example of how you output should be structured:

01   
Country: USA  
Capital: Washington D.C  
`----`  
02   
Country: France  
Capital: Paris  
`----`  
etc....

In [71]:
for i, k in enumerate(capitals):
  print(str(i+1).zfill(2))
  print('Country:', k )
  print("Capital:", capitals[k])
  print("-"*4)

01
Country: USA
Capital: Washington D.C.
----
02
Country: France
Capital: Paris
----
03
Country: India
Capital: New Delhi
----
04
Country: China
Capital: Beijing
----
05
Country: Egypt
Capital: Cairo
----
06
Country: Germany
Capital: Berlin
----

**Exercise #2**  

Write a `for` loop runs while a number is less than or equal to 25, checks if the number is even, and prints a string noting the outcome.

Example of output:

The number 5 is odd

In [26]:
for x in range(1,26):
  if x % 2 == 0:
    print ("The number", x, "is even")
  else:
    print ("The number", x, "is odd")

The number 1 is odd
The number 2 is even
The number 3 is odd
The number 4 is even
The number 5 is odd
The number 6 is even
The number 7 is odd
The number 8 is even
The number 9 is odd
The number 10 is even
The number 11 is odd
The number 12 is even
The number 13 is odd
The number 14 is even
The number 15 is odd
The number 16 is even
The number 17 is odd
The number 18 is even
The number 19 is odd
The number 20 is even
The number 21 is odd
The number 22 is even
The number 23 is odd
The number 24 is even
The number 25 is odd

**Exercise #3**  
Create this output using a nested `for` loop  

`-----------------------------------`  
I am outer loop iteration 0  
`************************************`  
I am inner loop iteration 0  
`************************************`  
I am inner loop iteration 1  
`************************************`  
I am inner loop iteration 2  
`************************************`  
I am inner loop iteration 3  
`************************************`  
I am inner loop iteration 4  
`-----------------------------------`  
I am outer loop iteration 1    
`************************************`  
I am inner loop iteration 0   
`************************************`   
I am inner loop iteration 1   
`************************************`  
I am inner loop iteration 2      
`************************************`  
I am inner loop iteration 3    
`************************************`  
I am inner loop iteration 4    
`-----------------------------------`  
I am outer loop iteration 2  
`************************************`  
I am inner loop iteration 0    
`************************************`    
I am inner loop iteration 1  
`************************************`  
I am inner loop iteration 2  
`************************************`  
I am inner loop iteration 3  
`************************************`  
I am inner loop iteration 4

In [62]:
for outer in range (0,4):
  print ("------------------------")
  print("I am outer loop iteration", outer)
  for inner in range (0,5):
    print("*************************")
    print("I am inner loop iteration", inner)

------------------------
I am outer loop iteration 0
*************************
I am inner loop iteration 0
*************************
I am inner loop iteration 1
*************************
I am inner loop iteration 2
*************************
I am inner loop iteration 3
*************************
I am inner loop iteration 4
------------------------
I am outer loop iteration 1
*************************
I am inner loop iteration 0
*************************
I am inner loop iteration 1
*************************
I am inner loop iteration 2
*************************
I am inner loop iteration 3
*************************
I am inner loop iteration 4
------------------------
I am outer loop iteration 2
*************************
I am inner loop iteration 0
*************************
I am inner loop iteration 1
*************************
I am inner loop iteration 2
*************************
I am inner loop iteration 3
*************************
I am inner loop iteration 4
------------------------
I am outer loop iteration 3
*************************
I am inner loop iteration 0
*************************
I am inner loop iteration 1
*************************
I am inner loop iteration 2
*************************
I am inner loop iteration 3
*************************
I am inner loop iteration 4

**Exercise 4**

Using the range of numbers from 0 to 9 as your iterable, write a list comprehension that produces a list of numbers consisting of the squared values from the iterable.

In [37]:
[x**2 for x in range (0,10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Exercise 5**  

Create a 5x5 matrix with value 0 - 4 using a nested list comprehension

[[output expression] for iterator variable in iterable]

** the output expression is itself a list comprehension **

* in the ouput expression recreate your columns
* in the outer list comprehension create your rows

In [55]:
[[x for x in range(0,5)] for x in range(0,5)]

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]